@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="transparent-container">
        <div class="text-center">
            
             <h1 class="display-4">Welcome to Our Hotel</h1>
    

         
            <p>
                <a class="custom-link" href="http://localhost:5112/Identity/Account/Register">Register</a>
            </p>
            <p>
                <a class="custom-link" href="http://localhost:5112/Identity/Account/Login">Login</a>
            </p>
        </div>
    </div>

<style>
    body{
        background-image: url('photos/index.jpg');
        background-size: cover;
        background-repeat: repeat-x;
    }
     .transparent-container {
            background-color: rgba(255, 255, 255, 0.7); 
            padding: 20px; 
            border-radius: 10px; 
            max-width: 900px; 
            margin: 0 auto;
        }
</style>
